<div id="detail">
    <div class="container___31ZLPZx isVisible___3VQQ6x1">
        <div class="homeLogo___1qjgwuj "><a class="participantImage___3UOUxe3 " href="/equipe/sao-paulo/QgP0oAUH"><img
                alt="São Paulo (Bra)" height="32px" loading="lazy" src="/res/image/data/YgK3qNCa-AFr3Lqct.png"
                title="Mostrar perfil" width="32px"></a>
            <div class="participantServe___xgCzirr"></div>
        </div>
        <div class="score___3FkwCrc">
            <div class="matchInfo___1NgJbNR live___4NQHjXz">
                <div class="wrapper___C3ByV9z live___3NqRnvp"><span>1</span><span
                        class="divider___3ScXfvw">-</span><span>1</span></div>
                <div class="status___1xolB5Q"><span class="detailStatus___2v20X7g">2º tempo</span><span> - 92:21</span>
                </div>
            </div>
        </div>
        <div class="awayLogo___1Ta9Ngu "><a class="participantImage___3UOUxe3 " href="/equipe/racing-club/OhapHPm9"><img
                alt="Racing Club (Arg)" height="32px" loading="lazy" src="/res/image/data/6T5YTkZA-OMzLrvmI.png"
                title="Mostrar perfil" width="32px"></a>
            <div class="participantServe___xgCzirr"></div>
        </div>
    </div>
    <div class="brand___1DW_GtA"><a class="logo___5UI-KA6 logo--mobile flashscore-com-br-white" href="/" target="_blank"
                                    title="FlashScore.com.br"></a></div>
    <div class="description___3_uvNAG tournamentHeaderDescription">
        <div class="sportNavWrapper___1We_BtO"><span class="sportNav___1un5iFj"><a href="/futebol/"><svg
                class="undefined "><title>Futebol</title><use
                xlink:href="/res/_fs/build/sport-icons-symbols.ea3f3ba.svg#icon--soccer"></use></svg>Futebol</a></span><span
                class="flagIcon___1sipOqk"><span class=" flag___38-7xEI fl_3___x3o7QX5" title=""></span></span><span
                class="country___24Qe-aj">AMÉRICA DO SUL: <a href="/futebol/america-do-sul/copa-libertadores/">Copa Libertadores - Playoffs - Oitavas de final</a></span>
        </div>
    </div>
    <div class="wrapper___38qYb6N">
        <div class="startTime___2oy0czV">
            <div class="">13.07.2021 21:30</div>
        </div>
        <div class="home___bh-s_QB ">
            <div class="myTeamsIcon___33o3ZB4">
                <div title="Adicionar às Minhas Equipes!">
                    <svg class="star___2AeJRHT myTeams___W-O-53l "><title></title>
                        <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#star"></use>
                    </svg>
                </div>
            </div>
            <div class="participantImage___2Oi0lJ_"><a href="/equipe/sao-paulo/QgP0oAUH"><img alt="São Paulo (Bra)"
                                                                                              height="50"
                                                                                              loading="lazy"
                                                                                              src="/res/image/data/YgK3qNCa-AFr3Lqct.png"
                                                                                              title="Mostrar perfil"
                                                                                              width="50"></a></div>
            <div class="participantServe___lE6xyAE"></div>
            <div class="participantNameWrapper___3cGNQoU">
                <div class="participantIcon___8LFPgc8"></div>
                <div class="participantName___3lRDM1i"><a class="participantName___3lRDM1i"
                                                          href="/equipe/sao-paulo/QgP0oAUH">São Paulo (Bra)</a></div>
            </div>
        </div>
        <div class="score___1Gi2Zt8">
            <div class="matchInfo___1NgJbNR live___4NQHjXz">
                <div class="wrapper___3rU3Jah live___4NQHjXz"><span>1</span><span
                        class="divider___3lqT2SU">-</span><span>1</span></div>
                <div class="status___XFO5ZlK"><span class="detailStatus___2v20X7g">2º tempo</span><span> - 92:21</span>
                </div>
            </div>
        </div>
        <div class="away___gdWyBHk ">
            <div class="myTeamsIcon___33o3ZB4">
                <div title="Adicionar às Minhas Equipes!">
                    <svg class="star___2AeJRHT myTeams___W-O-53l "><title></title>
                        <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#star"></use>
                    </svg>
                </div>
            </div>
            <div class="participantImage___2Oi0lJ_"><a href="/equipe/racing-club/OhapHPm9"><img alt="Racing Club (Arg)"
                                                                                                height="50"
                                                                                                loading="lazy"
                                                                                                src="/res/image/data/6T5YTkZA-OMzLrvmI.png"
                                                                                                title="Mostrar perfil"
                                                                                                width="50"></a>
            </div>
            <div class="participantServe___lE6xyAE"></div>
            <div class="participantNameWrapper___3cGNQoU">
                <div class="participantName___3lRDM1i"><a class="participantName___3lRDM1i"
                                                          href="/equipe/racing-club/OhapHPm9">Racing Club (Arg)</a>
                </div>
                <div class="participantIcon___8LFPgc8"></div>
            </div>
        </div>
    </div>
    <div class="wrapper___JVaY0UG infoBoxModule">
        <div class="info___2fPCmvW">
            <svg class="info___2JBwq65 icon___wIYRIrR"><title></title>
                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#info"></use>
            </svg>
            Jogo de ida.
        </div>
    </div>
    <div class="detailButtonContainer___29lQmxN">
        <button class="button___2JuZhGS detailButton___3PVSX7- live___2-s5hSN">
            <svg class="headphones___10Fgjum "><title>Audio</title>
                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#headphones"></use>
            </svg>
            Iniciar comentários em áudio
        </button>
    </div>
    <div class="tabs">
        <div class="tabs__group"><a class="tabs__tab" href="#resumo-de-jogo">Jogo</a><a aria-current="page"
                                                                                        class="tabs__tab selected"
                                                                                        href="#comparacao-de-odds">Odds</a><a
                class="tabs__tab" href="#h2h">H2H</a><a class="tabs__tab" href="#draw">Tabela</a></div>
    </div>
    <div>
        <div class="tabs">
            <div class="tabs__group"><a aria-current="page" class="tabs__tab selected"
                                        href="#comparacao-de-odds/1x2-odds"
                                        title="1X2 odds">1X2 </a><a class="tabs__tab"
                                                                    href="#comparacao-de-odds/home-away"
                                                                    title="Casa/Fora">Casa/Fora </a><a
                    class="tabs__tab" href="#comparacao-de-odds/acima-abaixo" title="Acima/Abaixo">O/U </a><a
                    class="tabs__tab" href="#comparacao-de-odds/handicap-asiatico" title="Handicap Asiático">HA </a><a
                    class="tabs__tab" href="#comparacao-de-odds/european-handicap" title="European handicap">EH </a><a
                    class="tabs__tab" href="#comparacao-de-odds/double-chance" title="Double chance">DC </a><a
                    class="tabs__tab" href="#comparacao-de-odds/ht-ft" title="Intervalo/Final do Jogo">HT/FT </a><a
                    class="tabs__tab" href="#comparacao-de-odds/correct-score" title="Placar exato">Exato </a><a
                    class="tabs__tab" href="#comparacao-de-odds/odd-even" title="Ímpar/Par">I/P </a><a class="tabs__tab"
                                                                                                       href="#comparacao-de-odds/ambos-marcam"
                                                                                                       title="Ambos marcam">AM </a><a
                    class="tabs__tab" href="#comparacao-de-odds/para-classificar" title="Para classificar">Clas. </a>
            </div>
        </div>
        <div class="subTabs"><a aria-current="page" class="subTabs__tab selected"
                                href="#comparacao-de-odds/1x2-odds/tempo-regulamentar" title="Tempo regulamentar">Tempo
            regulamentar (5)</a><a class="subTabs__tab" href="#comparacao-de-odds/1x2-odds/1-tempo" title="1º tempo">1º
            tempo (4)</a><a class="subTabs__tab" href="#comparacao-de-odds/1x2-odds/2-tempo" title="2º tempo">2º tempo
            (4)</a></div>
        <div class="tableWrapper___33yhdWE">
            <div class="table___21hYPOu odds___3BQPEof">
                <div class="header___LmSPXm3">
                    <div class="headerCell___2FS3ore bookmaker___3IrMMIg ">Casa de apostas</div>
                    <div class="headerCell___2FS3ore  sortable___2OG1anc">1
                        <svg class="sortArrowUp___2QpEeK3 sortArrow___rzLjKXg"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#sortArrow"></use>
                        </svg>
                    </div>
                    <div class="headerCell___2FS3ore  sortable___2OG1anc">X
                        <svg class="sortArrowUp___2QpEeK3 sortArrow___rzLjKXg"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#sortArrow"></use>
                        </svg>
                    </div>
                    <div class="headerCell___2FS3ore  sortable___2OG1anc">2
                        <svg class="sortArrowUp___2QpEeK3 sortArrow___rzLjKXg"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#sortArrow"></use>
                        </svg>
                    </div>
                </div>
                <div class="rows___1BdItrT">
                    <div class="row___1rtP1QI undefined">
                        <div class="bookmakerPart___2Vexll_">
                            <div class="bookmaker___3IrMMIg bookmakerCell___1g-nEjJ "><a
                                    class="link___2cfGV84"
                                    href="/bookmaker/16/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                    target="_blank" title="bet365"><img alt="bet365"
                                                                        class="logo___1VsHmha"
                                                                        src="/res/image/data/bookmakers/30-16.png"
                                                                        title="bet365"></a></div>
                            <a class="liveBetIcon___112j8nY"
                               href="/bookmaker/16/?from=live-detail-live-match&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                               target="_blank">
                                <div title="Aposte neste jogo AO VIVO, agora!"><img
                                        alt="live" class="liveActiveBet___1ttz4oQ " loading="lazy"
                                        src="/res/_fs/image/liveActiveBetIconDesktop.svg" title=""></div>
                            </a></div>
                        <a class="odd___2vKX0U5  "
                           href="/bookmaker/16/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                           target="_blank" title="1.66 » 1.70">
                            <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                            </svg>
                            <span class="">1.70</span></a><a class="odd___2vKX0U5 highlight___14W_vkK "
                                                             href="/bookmaker/16/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                             target="_blank" title="3.60 » 3.40">
                        <svg class="arrowDown___FWx4SN6 arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">3.40</span></a><a class="odd___2vKX0U5  "
                                                         href="/bookmaker/16/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                         target="_blank" title="5.25 » 5.50">
                        <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">5.50</span></a></div>
                    <div class="row___1rtP1QI undefined">
                        <div class="bookmakerPart___2Vexll_">
                            <div class="bookmaker___3IrMMIg bookmakerCell___1g-nEjJ "><a
                                    class="link___2cfGV84"
                                    href="/bookmaker/417/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                    target="_blank" title="1xBet"><img alt="1xBet"
                                                                       class="logo___1VsHmha"
                                                                       src="/res/image/data/bookmakers/30-417.png"
                                                                       title="1xBet"></a>
                            </div>
                            <a class="liveBetIcon___112j8nY"
                               href="/bookmaker/417/?from=live-detail-live-match&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                               target="_blank">
                                <div title="Aposte neste jogo AO VIVO, agora!"><img
                                        alt="live" class="liveActiveBet___1ttz4oQ " loading="lazy"
                                        src="/res/_fs/image/liveActiveBetIconDesktop.svg" title=""></div>
                            </a></div>
                        <a class="odd___2vKX0U5  "
                           href="/bookmaker/417/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                           target="_blank" title="1.64 » 1.66">
                            <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                            </svg>
                            <span class="">1.66</span></a><a class="odd___2vKX0U5  "
                                                             href="/bookmaker/417/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                             target="_blank" title="3.60 » 3.38">
                        <svg class="arrowDown___FWx4SN6 arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">3.38</span></a><a class="odd___2vKX0U5  "
                                                         href="/bookmaker/417/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                         target="_blank" title="5.00 » 5.65">
                        <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">5.65</span></a></div>
                    <div class="row___1rtP1QI undefined">
                        <div class="bookmakerPart___2Vexll_">
                            <div class="bookmaker___3IrMMIg bookmakerCell___1g-nEjJ "><a
                                    class="link___2cfGV84"
                                    href="/bookmaker/429/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                    target="_blank" title="Betfair"><img alt="Betfair"
                                                                         class="logo___1VsHmha"
                                                                         src="/res/image/data/bookmakers/30-429.png"
                                                                         title="Betfair"></a></div>
                        </div>
                        <a class="odd___2vKX0U5  "
                           href="/bookmaker/429/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                           target="_blank" title="1.62 » 1.65">
                            <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                            </svg>
                            <span class="">1.65</span></a><a class="odd___2vKX0U5  "
                                                             href="/bookmaker/429/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                             target="_blank" title="3.60 » 3.20">
                        <svg class="arrowDown___FWx4SN6 arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">3.20</span></a><a class="odd___2vKX0U5 highlight___14W_vkK "
                                                         href="/bookmaker/429/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                         target="_blank" title="5.00 » 6.00">
                        <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">6.00</span></a></div>
                    <div class="row___1rtP1QI undefined">
                        <div class="bookmakerPart___2Vexll_">
                            <div class="bookmaker___3IrMMIg bookmakerCell___1g-nEjJ "><a
                                    class="link___2cfGV84"
                                    href="/bookmaker/43/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                    target="_blank" title="Betsson"><img alt="Betsson"
                                                                         class="logo___1VsHmha"
                                                                         src="/res/image/data/bookmakers/30-43.png"
                                                                         title="Betsson"></a></div>
                            <a class="liveBetIcon___112j8nY"
                               href="/bookmaker/43/?from=live-detail-live-match&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                               target="_blank">
                                <div title="Aposte neste jogo AO VIVO, agora!"><img
                                        alt="live" class="liveActiveBet___1ttz4oQ " loading="lazy"
                                        src="/res/_fs/image/liveActiveBetIconDesktop.svg" title=""></div>
                            </a></div>
                        <a class="odd___2vKX0U5  "
                           href="/bookmaker/43/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                           target="_blank" title="1.65 » 1.72">
                            <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                            </svg>
                            <span class="">1.72</span></a><a class="odd___2vKX0U5 highlight___14W_vkK "
                                                             href="/bookmaker/43/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                             target="_blank" title="3.75 » 3.40">
                        <svg class="arrowDown___FWx4SN6 arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">3.40</span></a><a class="odd___2vKX0U5  "
                                                         href="/bookmaker/43/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                         target="_blank" title="5.20 » 5.50">
                        <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">5.50</span></a></div>
                    <div class="row___1rtP1QI undefined">
                        <div class="bookmakerPart___2Vexll_">
                            <div class="bookmaker___3IrMMIg bookmakerCell___1g-nEjJ "><a
                                    class="link___2cfGV84"
                                    href="/bookmaker/5/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                    target="_blank" title="Unibet"><img alt="Unibet"
                                                                        class="logo___1VsHmha"
                                                                        src="/res/image/data/bookmakers/30-5.png"
                                                                        title="Unibet"></a></div>
                            <a class="liveBetIcon___112j8nY"
                               href="/bookmaker/5/?from=live-detail-live-match&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                               target="_blank">
                                <div title="Aposte neste jogo AO VIVO, agora!"><img
                                        alt="live" class="liveActiveBet___1ttz4oQ " loading="lazy"
                                        src="/res/_fs/image/liveActiveBetIconDesktop.svg" title=""></div>
                            </a></div>
                        <a class="odd___2vKX0U5 highlight___14W_vkK "
                           href="/bookmaker/5/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                           target="_blank" title="1.67 » 1.74">
                            <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                            </svg>
                            <span class="">1.74</span></a><a class="odd___2vKX0U5  "
                                                             href="/bookmaker/5/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                             target="_blank" title="3.50 » 3.20">
                        <svg class="arrowDown___FWx4SN6 arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">3.20</span></a><a class="odd___2vKX0U5  "
                                                         href="/bookmaker/5/?from=odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BR-MG"
                                                         target="_blank" title="5.00 » 5.25">
                        <svg class="arrowUp___nhdmMQt arrow___3RubGWo"><title></title>
                            <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#arrow"></use>
                        </svg>
                        <span class="">5.25</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="poweredBy___3-yJNuk">As odds exibidas são conteúdos anunciados pelas casas de apostas listadas.</div>
    <a class="bettingStrip___3BbXIX1" href="/bookmaker/16/?from=detail-livebetting-strip&amp;sport=1" target="_blank">
        <div class="check___35mOkuj"></div>
        <div class="text___3EitJBA"><span>Apostas AO VIVO</span> disponíveis para esta partida.</div>
        <div class="button___1CDWFVL">Aposte AO VIVO com bet365</div>
    </a>
    <div class="tabs">
        <div class="tabs__group">
            <div class="tabs__tab selected">Promoções e bônus</div>
        </div>
    </div>
    <div class="oddsComparison___202Y-Vk"><span class="bookmaker___Zrd4aMH"><div class="blink"
                                                                                 onclick="e_t.track_click('CLICK_ODD', 'detail-bonus-odds-comparison_bookmaker');"><a
            class="elink" href="/bookmaker/16/?sport=1&amp;bonusId=481&amp;from=detail-bonus-odds-comparison"
            title="bet365"><span
            class="detail-blogos"
            style="background-image:url(/res/image/data/bookmakers/30-16.png); background-size: 100%; background-repeat: no-repeat;"
            title="bet365"></span></a></div></span><a class="link___1Ga8RY0"
                                                      href="/bookmaker/16/?from=detail-bonus-odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BRMG&amp;bonusId=481"
                                                      target="_blank">100% de Bónus até
        R$200</a><span class="text___1BWYnsK">Registre-se na bet365, deposite R$30* ou mais na sua conta e daremos Créditos de Aposta no mesmo valor do seu depósito qualificativo (de até R$200*) quando fizer apostas qualificativas de valor equivalente e estas estiverem resolvidas. Apenas para novos clientes. São aplicados T&amp;Cs, limites de tempo e exclusões. 18+</span>
    </div>
    <div class="oddsComparison___202Y-Vk"><span class="bookmaker___Zrd4aMH"><div class="blink"
                                                                                 onclick="e_t.track_click('CLICK_ODD', 'detail-bonus-odds-comparison_bookmaker');"><a
            class="elink" href="/bookmaker/43/?sport=1&amp;bonusId=482&amp;from=detail-bonus-odds-comparison"
            title="Betsson"><span
            class="detail-blogos"
            style="background-image:url(/res/image/data/bookmakers/30-43.png); background-size: 100%; background-repeat: no-repeat;"
            title="Betsson"></span></a></div></span><a class="link___1Ga8RY0"
                                                       href="/bookmaker/43/?from=detail-bonus-odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BRMG&amp;bonusId=482"
                                                       target="_blank">Bônus de primeiro depósito
        de 100% até R$240</a><span class="text___1BWYnsK"> </span></div>
    <div class="oddsComparison___202Y-Vk"><span class="bookmaker___Zrd4aMH"><div class="blink"
                                                                                 onclick="e_t.track_click('CLICK_ODD', 'detail-bonus-odds-comparison_bookmaker');"><a
            class="elink" href="/bookmaker/5/?sport=1&amp;bonusId=480&amp;from=detail-bonus-odds-comparison"
            title="Unibet"><span
            class="detail-blogos"
            style="background-image:url(/res/image/data/bookmakers/30-5.png); background-size: 100%; background-repeat: no-repeat;"
            title="Unibet"></span></a></div></span><a class="link___1Ga8RY0"
                                                      href="/bookmaker/5/?from=detail-bonus-odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BRMG&amp;bonusId=480"
                                                      target="_blank">Receba 100% livre de riscos
        para apostas até $25</a><span class="text___1BWYnsK"> </span></div>
    <div class="oddsComparison___202Y-Vk"><span class="bookmaker___Zrd4aMH"><div class="blink"
                                                                                 onclick="e_t.track_click('CLICK_ODD', 'detail-bonus-odds-comparison_bookmaker');"><a
            class="elink" href="/bookmaker/429/?sport=1&amp;bonusId=483&amp;from=detail-bonus-odds-comparison"
            title="Betfair"><span
            class="detail-blogos"
            style="background-image:url(/res/image/data/bookmakers/30-429.png); background-size: 100%; background-repeat: no-repeat;"
            title="Betfair"></span></a></div></span><a class="link___1Ga8RY0"
                                                       href="/bookmaker/429/?from=detail-bonus-odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BRMG&amp;bonusId=483"
                                                       target="_blank">100% de bônus até R$200</a><span
            class="text___1BWYnsK"> </span></div>
    <div class="oddsComparison___202Y-Vk"><span class="bookmaker___Zrd4aMH"><div class="blink"
                                                                                 onclick="e_t.track_click('CLICK_ODD', 'detail-bonus-odds-comparison_bookmaker');"><a
            class="elink" href="/bookmaker/417/?sport=1&amp;bonusId=713&amp;from=detail-bonus-odds-comparison"
            title="1xBet"><span
            class="detail-blogos"
            style="background-image:url(/res/image/data/bookmakers/30-417.png); background-size: 100%; background-repeat: no-repeat;"
            title="1xBet"></span></a></div></span><a class="link___1Ga8RY0"
                                                     href="/bookmaker/417/?from=detail-bonus-odds-comparison&amp;sport=1&amp;gicc=BR&amp;gisc=BRMG&amp;bonusId=713"
                                                     target="_blank">Bônus de boas-vindas de 100%
        até R$350</a><span class="text___1BWYnsK"> </span></div>
    <div class="bannerEnvelope">
        <div class="adsenvelope adstextpad banx-detail" id="lsadvert-zid-806" style="width: 300px; display: none;">
            <div style="height:250px">
                <div class="adscontent" id="lsadvert-detail">
                    <iframe frameborder="0" id="lsadvert-zid-806-iframe" name="banx-detail" scrolling="no"
                            style="allowTransparency: true; visibility: hidden; width:300px; height:250px"></iframe>
                </div>
                <div class="ads__text ads__text--h">Publicidade</div>
            </div>
        </div>
        <div class="adsenvelope adstextpad banx-responsive_detail_fixed_bottom_mobile" id="lsadvert-zid-3550"
             style="width: 320px; display: none;">
            <div style="height:50px">
                <div class="adscontent" id="lsadvert-responsive_detail_fixed_bottom_mobile">
                    <iframe data-body-class="mobile_ad" frameborder="0"
                            id="lsadvert-zid-3550-iframe" name="banx-responsive_detail_fixed_bottom_mobile"
                            scrolling="no"
                            style="allowTransparency: true; visibility: hidden; width:320px; height:50px"></iframe>
                </div>
                <div class="ads__text ads__text--h">Publicidade</div>
            </div>
        </div>
        <div class="adsenvelope adstextpad banx-responsive_detail_fixed_bottom_tablet" id="lsadvert-zid-3551"
             style="width: 728px; display: none;">
            <div style="height:90px">
                <div class="adscontent" id="lsadvert-responsive_detail_fixed_bottom_tablet">
                    <iframe data-body-class="tablet_ad" frameborder="0"
                            id="lsadvert-zid-3551-iframe" name="banx-responsive_detail_fixed_bottom_tablet"
                            scrolling="no"
                            style="allowTransparency: true; visibility: hidden; width:728px; height:90px"></iframe>
                </div>
                <div class="ads__text ads__text--h">Publicidade</div>
            </div>
        </div>
    </div>
    <div class="crttextpad">
        <div class="crtMargin" style="display: none;">
            <div class="ban_envelope" id="crt-1364425" style="width: 300px; height: 250px; display: none;"></div>
            <div class="ads__text ads__text--h">Publicidade</div>
        </div>
    </div>
    <div class="gamble___XcqhoPS">Aposta com responsabilidade. <a href="http://www.gamblingtherapy.org/"
                                                                  target="_blank">Gambling Therapy</a>. 18+
    </div>
    <div class="privacySettings___Kt59YEM">
        <div class="privacySettingsLink___3J5_0Qi optanon-show-settings">Configurar privacidade</div>
    </div>
    <div class="wrapperBottom___19Uh13D">
        <div class="closeButton___e3M-y6K ">Fechar janela</div>
    </div>
    <div class="boxOverContent--detailModern" id="box-over-content-detail">
        <style>
	#box_over_content_11260 {
		--color-boxOverContent-1: #008357;
		--color-boxOverContent-2: #FFFFFF;
		--color-boxOverContent-3: #FFE01B;
		--color-boxOverContent-4: #008357;
		--color-boxOverContent-5: #FFE01B;
		--width-boxOverContent-logo: 81px;
	}




        </style>
        <div class="boxOverContent boxOverContent--type-2 disabledGeoIp isNotClosed boxOverContent--active"
             data-geoip="default"
             id="box_over_content_11260">

            <div class="boxOverContent__banner" onclick="this.classList.toggle('isExpanded');">

                <img alt="bookmaker" class="boxOverContent__image" height="auto" src="/res/data/002526.png" width="108">


                <div class="boxOverContent__text">100% de Bónus até <span>R$200</span></div>


                <div class="boxOverContent__tac">Novos clientes. Obtenha até R$200 em Créditos de Aposta. Retornos
                    excluem valor em Créditos de Aposta. Aplicam-se T&amp;C, limites temporais e exclusões, 18+.
                </div>
                <div class="boxOverContent__arrow"></div>

                <a class="boxOverContent__bannerLink" data-mobile-url="/promobox/11260/?sport=1&amp;mobile=1"
                   href="/promobox/11260/?sport=1" target="_blank"></a>

            </div>

            <div class="boxOverContent__getOffer">
                <a class="boxOverContent__getOfferLink" data-mobile-url="/promobox/11260/?sport=1&amp;mobile=1"
                   href="/promobox/11260/?sport=1" target="_blank">bet365</a>
            </div>

        </div>
        <script type="text/javascript">
            cjs.Api.loader.get("cjs").call(function(_cjs) { _cjs.Api.loader.get("boxContentManager").call(function(boxContentManager) { boxContentManager.setSupportedGeoIPGroups(["default","CO","PT"]); _cjs.Api.boxOverContentHandler.showPlaceholders(); }); });



        </script>
    </div>
</div>