<div id="tournament-table-tabs-and-content">
    <div class="tabs">
        <div class="tabs__group"><a aria-current="page" class="tabs__tab selected" href="/table">Classificação</a><a
                class="tabs__tab" href="/form">Forma</a><a class="tabs__tab" href="/over_under">Acima/Abaixo</a><a
                class="tabs__tab" href="/ht_ft">HT/FT</a><a class="tabs__tab" href="/top_scorers">Artilheiros</a></div>
    </div>
    <div class="subTabs">
        <div class="subTabs__group"><a aria-current="page" class="subTabs__tab selected" href="/table/overall">Total</a><a
                class="subTabs__tab" href="/table/home">Casa</a><a class="subTabs__tab" href="/table/away">Fora</a>
        </div>
    </div>
    <div>
        <div>
            <div class="tableWrapper___aKAh9PH">
                <div class="table___21hYPOu undefined">
                    <div class="header___LmSPXm3">
                        <div class="headerCell___2FS3ore headerCellRank___3dWK1ls sortable___2OG1anc" title="Posição">#
                            <svg class="sortArrowUp___2QpEeK3 sortArrow___rzLjKXg"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#sortArrow"></use>
                            </svg>
                        </div>
                        <div class="headerCell___2FS3ore headerCellParticipant___2sCAohv sortable___2OG1anc"
                             title="Grupo A">Grupo A
                        </div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Jogos">J</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Vitórias">V</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Empates">E</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Derrotas">D</div>
                        <div class="headerCell___2FS3ore cellScore___2A1RcrA sortable___2OG1anc" title="Gols">G</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Pontos">P</div>
                        <div class="headerCell___2FS3ore headerCellForm___3oXlI6b " title="Últimos 5 jogos">Forma</div>
                    </div>
                    <div class="rows___1BdItrT">
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t"
                                 style="background-color: rgb(0, 70, 130); color: white;"
                                 title="Qualificado - Campeonato Paulista (Playoffs)">1.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/red-bull-brasil/MiQPsWgn/"><img alt="RB Brasil" height="15"
                                                                                      loading="lazy"
                                                                                      src="/res/image/data/pQ5AGtUH-fguToQZ6.png"
                                                                                      title="RB Brasil"
                                                                                      width="15"></a><a
                                        class="rowCellParticipantName___38vskiN"
                                        href="/equipe/red-bull-brasil/MiQPsWgn/"
                                        target="_self">RB Brasil</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">8</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">3</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">1</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">19:10</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">27</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:2&amp;nbsp;[/b](Guarani - RB Brasil)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]3:2&amp;nbsp;[/b](RB Brasil - São Bento)
14.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:2&amp;nbsp;[/b](Oeste - RB Brasil)
07.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:0&amp;nbsp;[/b](RB Brasil - Novorizontino)
01.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:0&amp;nbsp;[/b](São Paulo - RB Brasil)
23.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t"
                                 style="background-color: rgb(0, 70, 130); color: white;"
                                 title="Qualificado - Campeonato Paulista (Playoffs)">2.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC" href="/equipe/santos/n3QdnjFB/"><img
                                        alt="Santos" height="15" loading="lazy"
                                        src="/res/image/data/hzibzPjC-fguToQZ6.png"
                                        title="Santos" width="15"></a><a class="rowCellParticipantName___38vskiN"
                                                                         href="/equipe/santos/n3QdnjFB/"
                                                                         target="_self">Santos</a>
                                </div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">7</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">2</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">3</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">19:13</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">23</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]4:0&amp;nbsp;[/b](Botafogo-SP - Santos)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:1&amp;nbsp;[/b](Santos - Novorizontino)
15.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:0&amp;nbsp;[/b](Corinthians - Santos)
09.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]3:2&amp;nbsp;[/b](Santos - Oeste)
01.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:0&amp;nbsp;[/b](Palmeiras - Santos)
22.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t" title="">3.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/ponte-preta/WlHjRvDk/"><img alt="Ponte Preta" height="15"
                                                                                  loading="lazy"
                                                                                  src="/res/image/data/4OGSgN96-fguToQZ6.png"
                                                                                  title="Ponte Preta"
                                                                                  width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/ponte-preta/WlHjRvDk/"
                                        target="_self">Ponte Preta</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">4</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">3</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">13:7</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">19</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:0&amp;nbsp;[/b](Palmeiras - Ponte Preta)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]3:0&amp;nbsp;[/b](Ponte Preta - Guarani)
15.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:2&amp;nbsp;[/b](São Bento - Ponte Preta)
09.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Ponte Preta - Botafogo-SP)
04.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Ponte Preta - Ituano)
23.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t" title="">4.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/sao-caetano/MTAcMOzc/"><img alt="São Caetano" height="15"
                                                                                  loading="lazy"
                                                                                  src="/res/image/data/Iax6diRq-fguToQZ6.png"
                                                                                  title="São Caetano"
                                                                                  width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/sao-caetano/MTAcMOzc/"
                                        target="_self">São Caetano</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">1</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">6</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">12:21</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">8</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](São Caetano - São Paulo)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:0&amp;nbsp;[/b](Ferroviária - São Caetano)
15.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Novorizontino - São Caetano)
10.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:0&amp;nbsp;[/b](São Caetano - Mirassol)
28.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Guarani - São Caetano)
22.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tableWrapper___aKAh9PH">
                <div class="table___21hYPOu undefined">
                    <div class="header___LmSPXm3">
                        <div class="headerCell___2FS3ore headerCellRank___3dWK1ls sortable___2OG1anc" title="Posição">#
                            <svg class="sortArrowUp___2QpEeK3 sortArrow___rzLjKXg"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#sortArrow"></use>
                            </svg>
                        </div>
                        <div class="headerCell___2FS3ore headerCellParticipant___2sCAohv sortable___2OG1anc"
                             title="Grupo B">Grupo B
                        </div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Jogos">J</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Vitórias">V</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Empates">E</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Derrotas">D</div>
                        <div class="headerCell___2FS3ore cellScore___2A1RcrA sortable___2OG1anc" title="Gols">G</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Pontos">P</div>
                        <div class="headerCell___2FS3ore headerCellForm___3oXlI6b " title="Últimos 5 jogos">Forma</div>
                    </div>
                    <div class="rows___1BdItrT">
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t"
                                 style="background-color: rgb(0, 70, 130); color: white;"
                                 title="Qualificado - Campeonato Paulista (Playoffs)">1.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/palmeiras/hMn9FTbH/"><img alt="Palmeiras" height="15"
                                                                                loading="lazy"
                                                                                src="/res/image/data/6yCLyXU0-EJoO9TRD.png"
                                                                                title="Palmeiras"
                                                                                width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/palmeiras/hMn9FTbH/"
                                        target="_self">Palmeiras</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">7</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">4</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">1</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">13:5</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">25</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:0&amp;nbsp;[/b](Palmeiras - Ponte Preta)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:1&amp;nbsp;[/b](São Paulo - Palmeiras)
15.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Mirassol - Palmeiras)
08.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]3:2&amp;nbsp;[/b](Palmeiras - Ituano)
27.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:0&amp;nbsp;[/b](Palmeiras - Santos)
22.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t"
                                 style="background-color: rgb(0, 70, 130); color: white;"
                                 title="Qualificado - Campeonato Paulista (Playoffs)">2.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/novorizontino/4lOgZPQl/"><img alt="Novorizontino" height="15"
                                                                                    loading="lazy"
                                                                                    src="/res/image/data/40q3okVH-8dqXppkD.png"
                                                                                    title="Novorizontino"
                                                                                    width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/novorizontino/4lOgZPQl/"
                                        target="_self">Novorizontino</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">2</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">10:9</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">20</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Novorizontino - Ferroviária)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:1&amp;nbsp;[/b](Santos - Novorizontino)
15.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Novorizontino - São Caetano)
10.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:0&amp;nbsp;[/b](RB Brasil - Novorizontino)
01.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Red Bull Bragantino - Novorizontino)
22.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t" title="">3.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC" href="/equipe/guarani/WMZyrhsE/"><img
                                        alt="Guarani" height="15" loading="lazy"
                                        src="/res/image/data/tjBW2U76-8dqXppkD.png"
                                        title="Guarani" width="15"></a><a class="rowCellParticipantName___38vskiN"
                                                                          href="/equipe/guarani/WMZyrhsE/"
                                                                          target="_self">Guarani</a>
                                </div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">4</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">2</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">6</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">13:18</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">14</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:2&amp;nbsp;[/b](Guarani - RB Brasil)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]3:0&amp;nbsp;[/b](Ponte Preta - Guarani)
15.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Ituano - Guarani)
08.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Guarani - Ferroviária)
01.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Guarani - São Caetano)
22.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t" title="">4.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/sao-bento/v7IWx6eK/"><img alt="São Bento" height="15"
                                                                                loading="lazy"
                                                                                src="/res/image/data/KAM3YrQq-fguToQZ6.png"
                                                                                title="São Bento"
                                                                                width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/sao-bento/v7IWx6eK/"
                                        target="_self">São Bento</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">1</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">4</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">7</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">8:18</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">7</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:0&amp;nbsp;[/b](São Bento - Red Bull Bragantino)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]3:2&amp;nbsp;[/b](RB Brasil - São Bento)
14.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:2&amp;nbsp;[/b](São Bento - Ponte Preta)
09.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](São Bento - Corinthians)
01.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Mirassol - São Bento)
21.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tableWrapper___aKAh9PH">
                <div class="table___21hYPOu undefined">
                    <div class="header___LmSPXm3">
                        <div class="headerCell___2FS3ore headerCellRank___3dWK1ls sortable___2OG1anc" title="Posição">#
                            <svg class="sortArrowUp___2QpEeK3 sortArrow___rzLjKXg"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#sortArrow"></use>
                            </svg>
                        </div>
                        <div class="headerCell___2FS3ore headerCellParticipant___2sCAohv sortable___2OG1anc"
                             title="Grupo C">Grupo C
                        </div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Jogos">J</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Vitórias">V</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Empates">E</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Derrotas">D</div>
                        <div class="headerCell___2FS3ore cellScore___2A1RcrA sortable___2OG1anc" title="Gols">G</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Pontos">P</div>
                        <div class="headerCell___2FS3ore headerCellForm___3oXlI6b " title="Últimos 5 jogos">Forma</div>
                    </div>
                    <div class="rows___1BdItrT">
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t"
                                 style="background-color: rgb(0, 70, 130); color: white;"
                                 title="Qualificado - Campeonato Paulista (Playoffs)">1.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/corinthians/QBGfQbSe/"><img alt="Corinthians" height="15"
                                                                                  loading="lazy"
                                                                                  src="/res/image/data/WCPVtuUH-fguToQZ6.png"
                                                                                  title="Corinthians"
                                                                                  width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/corinthians/QBGfQbSe/"
                                        target="_self">Corinthians</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">6</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">3</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">3</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">10:8</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">21</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]0:1&amp;nbsp;[/b](Ituano - Corinthians)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:0&amp;nbsp;[/b](Corinthians - Oeste)
16.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:0&amp;nbsp;[/b](Corinthians - Santos)
09.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](São Bento - Corinthians)
01.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:1&amp;nbsp;[/b](Botafogo-SP - Corinthians)
23.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t"
                                 style="background-color: rgb(0, 70, 130); color: white;"
                                 title="Qualificado - Campeonato Paulista (Playoffs)">2.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/ferroviaria/pAPVj72I/"><img alt="Ferroviária" height="15"
                                                                                  loading="lazy"
                                                                                  src="/res/image/data/fPWT0qme-fguToQZ6.png"
                                                                                  title="Ferroviária"
                                                                                  width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/ferroviaria/pAPVj72I/"
                                        target="_self">Ferroviária</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">4</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">6</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">2</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">12:9</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">18</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Novorizontino - Ferroviária)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:0&amp;nbsp;[/b](Ferroviária - São Caetano)
15.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](São Paulo - Ferroviária)
09.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Guarani - Ferroviária)
01.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Ferroviária - Oeste)
24.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t" title="">3.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC" href="/equipe/mirassol/pQ8ryEe7/"><img
                                        alt="Mirassol" height="15" loading="lazy"
                                        src="/res/image/data/d632vpUH-jq9ih1dt.png" title="Mirassol" width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/mirassol/pQ8ryEe7/"
                                        target="_self">Mirassol</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">2</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">9:18</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">11</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Oeste - Mirassol)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Mirassol - Botafogo-SP)
16.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Mirassol - Palmeiras)
08.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:0&amp;nbsp;[/b](São Caetano - Mirassol)
28.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Mirassol - São Bento)
21.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t" title="">4.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/bragantino/jwKvKhGa/"><img alt="Red Bull Bragantino" height="15"
                                                                                 loading="lazy"
                                                                                 src="/res/image/data/6eJFbWPq-EJoO9TRD.png"
                                                                                 title="Red Bull Bragantino"
                                                                                 width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/bragantino/jwKvKhGa/"
                                        target="_self">Red Bull Bragantino</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">2</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">4</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">6</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">11:21</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">10</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:0&amp;nbsp;[/b](São Bento - Red Bull Bragantino)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:3&amp;nbsp;[/b](Red Bull Bragantino - Ituano)
14.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Botafogo-SP - Red Bull Bragantino)
07.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:2&amp;nbsp;[/b](Red Bull Bragantino - São Paulo)
02.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Red Bull Bragantino - Novorizontino)
22.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tableWrapper___aKAh9PH">
                <div class="table___21hYPOu undefined">
                    <div class="header___LmSPXm3">
                        <div class="headerCell___2FS3ore headerCellRank___3dWK1ls sortable___2OG1anc" title="Posição">#
                            <svg class="sortArrowUp___2QpEeK3 sortArrow___rzLjKXg"><title></title>
                                <use xlink:href="/res/_fs/build/symbols.2cb5d9f.svg#sortArrow"></use>
                            </svg>
                        </div>
                        <div class="headerCell___2FS3ore headerCellParticipant___2sCAohv sortable___2OG1anc"
                             title="Grupo D">Grupo D
                        </div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Jogos">J</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Vitórias">V</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Empates">E</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Derrotas">D</div>
                        <div class="headerCell___2FS3ore cellScore___2A1RcrA sortable___2OG1anc" title="Gols">G</div>
                        <div class="headerCell___2FS3ore cell___4WLG6Yd sortable___2OG1anc" title="Pontos">P</div>
                        <div class="headerCell___2FS3ore headerCellForm___3oXlI6b " title="Últimos 5 jogos">Forma</div>
                    </div>
                    <div class="rows___1BdItrT">
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t"
                                 style="background-color: rgb(0, 70, 130); color: white;"
                                 title="Qualificado - Campeonato Paulista (Playoffs)">1.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC" href="/equipe/ituano/KEFEyzRf/"><img
                                        alt="Ituano" height="15" loading="lazy"
                                        src="/res/image/data/h8OB5xAN-8dqXppkD.png"
                                        title="Ituano" width="15"></a><a class="rowCellParticipantName___38vskiN"
                                                                         href="/equipe/ituano/KEFEyzRf/"
                                                                         target="_self">Ituano</a>
                                </div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">2</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">19:12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">17</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]0:1&amp;nbsp;[/b](Ituano - Corinthians)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:3&amp;nbsp;[/b](Red Bull Bragantino - Ituano)
14.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Ituano - Guarani)
08.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]3:2&amp;nbsp;[/b](Palmeiras - Ituano)
27.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Ponte Preta - Ituano)
23.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t"
                                 style="background-color: rgb(0, 70, 130); color: white;"
                                 title="Qualificado - Campeonato Paulista (Playoffs)">2.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/sao-paulo/QgP0oAUH/"><img alt="São Paulo" height="15"
                                                                                loading="lazy"
                                                                                src="/res/image/data/jBU0jVPq-fguToQZ6.png"
                                                                                title="São Paulo"
                                                                                width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/sao-paulo/QgP0oAUH/"
                                        target="_self">São Paulo</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">4</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">3</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">13:10</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">15</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](São Caetano - São Paulo)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:1&amp;nbsp;[/b](São Paulo - Palmeiras)
15.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](São Paulo - Ferroviária)
09.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:2&amp;nbsp;[/b](Red Bull Bragantino - São Paulo)
02.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:0&amp;nbsp;[/b](São Paulo - RB Brasil)
23.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t" title="">3.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC" href="/equipe/oeste/tQ88OG0l/"><img
                                        alt="Oeste" height="15" loading="lazy"
                                        src="/res/image/data/6oP9byRq-8dqXppkD.png"
                                        title="Oeste" width="15"></a><a class="rowCellParticipantName___38vskiN"
                                                                        href="/equipe/oeste/tQ88OG0l/"
                                                                        target="_self">Oeste</a>
                                </div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">3</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">4</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">5</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">13:14</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">13</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Oeste - Mirassol)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:0&amp;nbsp;[/b](Corinthians - Oeste)
16.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:2&amp;nbsp;[/b](Oeste - RB Brasil)
07.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]3:2&amp;nbsp;[/b](Santos - Oeste)
01.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Ferroviária - Oeste)
24.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                            </div>
                        </div>
                        <div class="row___1rtP1QI row___2EsvbFy  ">
                            <div class="sortingColumn___1ohGY1e rowCell____vgDgoa rowCellRank___25g3H2t" title="">4.
                            </div>
                            <div class="rowCellParticipant___3wGbPLz  ">
                                <div class="rowCellParticipantBlock___10bmTMd"><a
                                        class="rowCellParticipantImage___21gNVKC"
                                        href="/equipe/botafogo-sp/2yRUzy5N/"><img alt="Botafogo-SP" height="15"
                                                                                  loading="lazy"
                                                                                  src="/res/image/data/fy7q1GPq-fguToQZ6.png"
                                                                                  title="Botafogo-SP"
                                                                                  width="15"></a><a
                                        class="rowCellParticipantName___38vskiN" href="/equipe/botafogo-sp/2yRUzy5N/"
                                        target="_self">Botafogo-SP</a></div>
                            </div>
                            <span class="  rowCell____vgDgoa cell___4WLG6Yd ">12</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">3</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">2</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">7</span><span
                                class="  rowCell____vgDgoa cellScore___2A1RcrA ">14:15</span><span
                                class="  rowCell____vgDgoa cell___4WLG6Yd ">11</span>
                            <div class="rowCellForm___34WvlzC">
                                <div class="formIcon___2SnyACH " title="[b]4:0&amp;nbsp;[/b](Botafogo-SP - Santos)
20.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]1:1&amp;nbsp;[/b](Mirassol - Botafogo-SP)
16.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--d___1n92AN_" title="">E</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Botafogo-SP - Red Bull Bragantino)
07.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--w___3y7b-Fi" title="">V</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]2:1&amp;nbsp;[/b](Ponte Preta - Botafogo-SP)
04.03.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                                <div class="formIcon___2SnyACH " title="[b]0:1&amp;nbsp;[/b](Botafogo-SP - Corinthians)
23.02.2019">
                                    <div class="undefined wld___1T_WRjR wld--l___1mZF8l2" title="">D</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="legend___1cp2MAw">
            <div class="rank___G8NXAnT">
                <div class="row___3VHCljj">
                    <div class="coloredSquare___2v9im2f" style="background-color: rgb(0, 70, 130);"></div>
                    <span>Qualificado - Campeonato Paulista (Playoffs)</span></div>
            </div>
            <div class="info___245onyq"></div>
            <div class="note___3XhaxI_"></div>
        </div>
    </div>
</div>