<div id="category-left-menu">
    <div class="menu___20PnVBX">
        <div class="element___1MFtf4f head___2cefCdd">Países</div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/africa-do-sul/"
                                        id="lmenu_175">África do Sul</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/albania/"
                                        id="lmenu_17">Albânia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/alemanha/"
                                        id="lmenu_81">Alemanha</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/andorra/"
                                        id="lmenu_19">Andorra</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/angola/" id="lmenu_20">Angola</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/arabia-saudita/"
                                        id="lmenu_165">Arábia Saudita</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/argelia/"
                                        id="lmenu_18">Argélia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/argentina/"
                                        id="lmenu_22">Argentina</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/armenia/"
                                        id="lmenu_23">Armênia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/aruba/" id="lmenu_229">Aruba</a>
        </div>
        <div class="bannerCont bannerCont___3UuVhxE">
            <div class="adsenvelope adstextpad banx-left_menu_2" id="lsadvert-zid-797"
                 style="width: 120px; display: none;">
                <div style="height:240px">
                    <div class="adscontent" id="lsadvert-left_menu_2">
                        <iframe frameborder="0" id="lsadvert-zid-797-iframe" name="banx-left_menu_2" scrolling="no"
                                style="allowTransparency: true; visibility: hidden; width:120px; height:240px"></iframe>
                    </div>
                    <div class="ads__text ads__text--h">Publicidade</div>
                </div>
            </div>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/australia/"
                                        id="lmenu_24">Austrália</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/austria/"
                                        id="lmenu_25">Áustria</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/azerbaijao/"
                                        id="lmenu_26">Azerbaijão</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/bahrein/"
                                        id="lmenu_28">Bahrein</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/bangladesh/"
                                        id="lmenu_29">Bangladesh</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/belarus/"
                                        id="lmenu_31">Belarus</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/belgica/"
                                        id="lmenu_32">Bélgica</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/benin/" id="lmenu_34">Benin</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/bermuda/"
                                        id="lmenu_230">Bermuda</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/bolivia/"
                                        id="lmenu_36">Bolívia</a></div>
        <div class="bannerCont bannerCont___3UuVhxE">
            <div class="adsenvelope adstextpad banx-left_menu_3" id="lsadvert-zid-3653"
                 style="width: 120px; display: none;">
                <div style="height:240px">
                    <div class="adscontent" id="lsadvert-left_menu_3">
                        <iframe frameborder="0" id="lsadvert-zid-3653-iframe" name="banx-left_menu_3" scrolling="no"
                                style="allowTransparency: true; visibility: hidden; width:120px; height:240px"></iframe>
                    </div>
                    <div class="ads__text ads__text--h">Publicidade</div>
                </div>
            </div>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/bosnia-e-herzegovina/"
                                        id="lmenu_37">Bósnia e Herzegovina</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/botsuana/"
                                        id="lmenu_38">Botsuana</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/brasil/" id="lmenu_39">Brasil</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/bulgaria/"
                                        id="lmenu_41">Bulgária</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/burkina-faso/"
                                        id="lmenu_42">Burkina Faso</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/burundi/"
                                        id="lmenu_44">Burundi</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/cabo-verde/"
                                        id="lmenu_48">Cabo Verde</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/camaroes/"
                                        id="lmenu_46">Camarões</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/camboja/"
                                        id="lmenu_45">Camboja</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/canada/" id="lmenu_47">Canadá</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/catar/" id="lmenu_156">Catar</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/cazaquistao/"
                                        id="lmenu_102">Cazaquistão</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/chile/" id="lmenu_51">Chile</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/china/" id="lmenu_52">China</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/chipre/" id="lmenu_61">Chipre</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/colombia/"
                                        id="lmenu_53">Colômbia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/congo/" id="lmenu_56">Congo</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/coreia-do-sul/"
                                        id="lmenu_106">Coreia do Sul</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/costa-do-marfim/"
                                        id="lmenu_58">Costa do Marfim</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/costa-rica/"
                                        id="lmenu_57">Costa Rica</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/croacia/"
                                        id="lmenu_59">Croácia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/curacao/"
                                        id="lmenu_300">Curaçao</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/dinamarca/"
                                        id="lmenu_63">Dinamarca</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/djibuti/"
                                        id="lmenu_64">Djibouti</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/egito/" id="lmenu_69">Egito</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/el-salvador/"
                                        id="lmenu_70">El Salvador</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu "
                                        href="/futebol/emirados-arabes-unidos/"
                                        id="lmenu_196">Emirados Árabes Unidos</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/equador/"
                                        id="lmenu_68">Equador</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/escocia/"
                                        id="lmenu_199">Escócia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/eslovaquia/"
                                        id="lmenu_171">Eslováquia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/eslovenia/"
                                        id="lmenu_172">Eslovênia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/espanha/"
                                        id="lmenu_176">Espanha</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/estonia/"
                                        id="lmenu_73">Estônia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/eswatini/"
                                        id="lmenu_180">eSwatini</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/etiopia/"
                                        id="lmenu_74">Etiópia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/eua/" id="lmenu_200">EUA</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/filipinas/"
                                        id="lmenu_153">Filipinas</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/finlandia/"
                                        id="lmenu_76">Finlândia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/franca/" id="lmenu_77">França</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/gabao/" id="lmenu_78">Gabão</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/gambia/" id="lmenu_79">Gâmbia</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/gana/" id="lmenu_82">Gana</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/georgia/"
                                        id="lmenu_80">Geórgia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/gibraltar/"
                                        id="lmenu_304">Gibraltar</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/grecia/" id="lmenu_83">Grécia</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/guatemala/"
                                        id="lmenu_85">Guatemala</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/guine/" id="lmenu_86">Guiné</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/haiti/" id="lmenu_89">Haiti</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/honduras/"
                                        id="lmenu_90">Honduras</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/hong-kong/"
                                        id="lmenu_222">Hong Kong</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/hungria/"
                                        id="lmenu_91">Hungria</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/iemen/" id="lmenu_208">Iêmen</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/ilhas-faroe/"
                                        id="lmenu_231">Ilhas Faroé</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/ilhas-fiji/"
                                        id="lmenu_75">Ilhas Fiji</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/ilhas-mauricio/"
                                        id="lmenu_127">Ilhas Maurício</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/india/" id="lmenu_93">Índia</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/indonesia/"
                                        id="lmenu_228">Indonésia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/inglaterra/"
                                        id="lmenu_198">Inglaterra</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/ira/"
                                        id="lmenu_94">Irã</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/iraque/" id="lmenu_95">Iraque</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/irlanda/"
                                        id="lmenu_96">Irlanda</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/irlanda-do-norte/"
                                        id="lmenu_144">Irlanda do Norte</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/islandia/"
                                        id="lmenu_92">Islândia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/israel/" id="lmenu_97">Israel</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/italia/" id="lmenu_98">Itália</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/jamaica/"
                                        id="lmenu_99">Jamaica</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/japao/" id="lmenu_100">Japão</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/jordania/"
                                        id="lmenu_101">Jordânia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/cossovo/"
                                        id="lmenu_212">Kosovo</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/kuwait/"
                                        id="lmenu_107">Kuwait</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/laos/" id="lmenu_109">Laos</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/lesotho/"
                                        id="lmenu_112">Lesoto</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/letonia/"
                                        id="lmenu_110">Letônia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/libano/"
                                        id="lmenu_111">Libano</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/liberia/"
                                        id="lmenu_113">Libéria</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/libia/" id="lmenu_114">Libia</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/liechtenstein/"
                                        id="lmenu_115">Liechtenstein</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/lituania/"
                                        id="lmenu_116">Lituânia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/luxemburgo/"
                                        id="lmenu_117">Luxemburgo</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/macau/" id="lmenu_233">Macau</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/macedonia-do-norte/"
                                        id="lmenu_118">Macedônia do Norte</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/malasia/"
                                        id="lmenu_121">Malásia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/malawi/"
                                        id="lmenu_120">Malawi</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/maldivas/"
                                        id="lmenu_122">Maldivas</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/mali/" id="lmenu_123">Mali</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/malta/" id="lmenu_124">Malta</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/marrocos/"
                                        id="lmenu_134">Marrocos</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/mauritania/"
                                        id="lmenu_126">Mauritânia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/mexico/"
                                        id="lmenu_128">México</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/mocambique/"
                                        id="lmenu_135">Moçambique</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/moldavia/"
                                        id="lmenu_130">Moldávia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/mongolia/"
                                        id="lmenu_132">Mongólia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/montenegro/"
                                        id="lmenu_133">Montenegro</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/myanmar/"
                                        id="lmenu_43">Myanmar</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/namibia/"
                                        id="lmenu_136">Namíbia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/nicaragua/"
                                        id="lmenu_141">Nicarágua</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/niger/" id="lmenu_142">Níger</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/nigeria/"
                                        id="lmenu_143">Nigéria</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/noruega/"
                                        id="lmenu_145">Noruega</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/nova-zelandia/"
                                        id="lmenu_140">Nova Zelândia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/oman/" id="lmenu_146">Oman</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/pais-de-gales/"
                                        id="lmenu_207">País de Gales</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/holanda/"
                                        id="lmenu_139">Países Baixos</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/palestina/"
                                        id="lmenu_215">Palestina</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/panama/"
                                        id="lmenu_149">Panamá</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/paquistao/"
                                        id="lmenu_147">Paquistão</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/paraguai/"
                                        id="lmenu_151">Paraguai</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/peru/" id="lmenu_152">Peru</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/polonia/"
                                        id="lmenu_154">Polônia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/portugal/"
                                        id="lmenu_155">Portugal</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/quenia/"
                                        id="lmenu_103">Quênia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/quirquistao/"
                                        id="lmenu_108">Quirguistão</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/congo-dr/"
                                        id="lmenu_55">R.D. Congo</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/republica-dominicana/"
                                        id="lmenu_66">República Dominicana</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/republica-tcheca/"
                                        id="lmenu_62">República Tcheca</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/reuniao/"
                                        id="lmenu_237">Reunião</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/romenia/"
                                        id="lmenu_157">Romênia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/ruanda/"
                                        id="lmenu_159">Ruanda</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/russia/"
                                        id="lmenu_158">Rússia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/sao-marino/"
                                        id="lmenu_163">San Marino</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/senegal/"
                                        id="lmenu_166">Senegal</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/serra-leoa/"
                                        id="lmenu_169">Serra Leoa</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/servia/"
                                        id="lmenu_167">Sérvia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/seicheles/"
                                        id="lmenu_168">Seychelles</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/singapura/"
                                        id="lmenu_170">Singapura</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/siria/" id="lmenu_183">Síria</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/somalia/"
                                        id="lmenu_174">Somália</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/sri-lanka/"
                                        id="lmenu_177">Sri Lanka</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/sudao/" id="lmenu_178">Sudão</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/suecia/"
                                        id="lmenu_181">Suécia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/suica/" id="lmenu_182">Suíça</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/tailandia/"
                                        id="lmenu_186">Tailândia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/taiwan/"
                                        id="lmenu_218">Taiwan</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/tadjiquistao/"
                                        id="lmenu_184">Tajiquistão</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/tanzania/"
                                        id="lmenu_185">Tanzânia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/togo/" id="lmenu_187">Togo</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/trinidade-e-tobago/"
                                        id="lmenu_189">Trinidad e Tobago</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/tunisia/"
                                        id="lmenu_190">Tunísia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/turcomenistao/"
                                        id="lmenu_192">Turcomenistão</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/turquia/"
                                        id="lmenu_191">Turquia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/ucrania/"
                                        id="lmenu_195">Ucrânia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/uganda/"
                                        id="lmenu_194">Uganda</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/uruguai/"
                                        id="lmenu_201">Uruguai</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/uzbequistao/"
                                        id="lmenu_202">Uzbequistão</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/venezuela/"
                                        id="lmenu_205">Venezuela</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/vietna/"
                                        id="lmenu_206">Vietnã</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/zambia/"
                                        id="lmenu_209">Zâmbia</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/zimbabue/"
                                        id="lmenu_210">Zimbábue</a></div>
        <div class="element___1MFtf4f head___2cefCdd">Outras Competições</div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/africa/" id="lmenu_1">África</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu "
                                        href="/futebol/america-do-norte-e-central/"
                                        id="lmenu_2">América do Norte e Central</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/america-do-sul/"
                                        id="lmenu_3">América do Sul</a></div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/asia/" id="lmenu_5">Ásia</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/europa/" id="lmenu_6">Europa</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/mundo/" id="lmenu_8">Mundo</a>
        </div>
        <div class="block___x_T1VPy"><a class="element___1MFtf4f item___UGGA8Fu " href="/futebol/australia-e-oceania/"
                                        id="lmenu_7">Oceania</a></div>
    </div>
</div>